# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
.idea
# weights
extractor.pth
# features
*.npy
# wandb
wandb/
# output    
output/
# data
data/.vscode
data/VTS/features
data/VTS/frames
data/VTS/original_videos
data/JIGSAWS/Suturing
data/JIGSAWS/frames
data/SAR_RARP50/README.md
data/SAR_RARP50/frames
data/MultiBypass140/frames
# Not Scheduled to change
train_opts_2D.py
utils.py
utils_2D/train_opts_2D.py
utils_2D/utils.py
# DGX
*.log
*.sqsh
tasks/
*task.sh
slurm*
*.out
.vscode

