# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
.idea
# weights
extractor.pth
# wandb
wandb/
# output    
output/
# data
data/.vscode
data/JIGSAWS/Suturing
data/VTS/VTS_dataset
data/SAR_RARP50/frames/test/*
data/SAR_RARP50/frames/train/*
data/SAR_RARP50/README.md
# DGX
*.sqsh
tasks/
*task.sh
slurm*
*.out
.vscode
data/SAR_RARP50/frames/test/video_41
data/SAR_RARP50/frames/test/video_42
data/SAR_RARP50/frames/test/video_43
data/SAR_RARP50/frames/test/video_44
data/SAR_RARP50/frames/test/video_45
data/SAR_RARP50/frames/test/video_46
data/SAR_RARP50/frames/test/video_47
data/SAR_RARP50/frames/test/video_48
data/SAR_RARP50/frames/test/video_49
data/SAR_RARP50/frames/test/video_50
data/SAR_RARP50/frames/train/video_01
data/SAR_RARP50/frames/train/video_02
data/SAR_RARP50/frames/train/video_03
data/SAR_RARP50/frames/train/video_04
data/SAR_RARP50/frames/train/video_05
data/SAR_RARP50/frames/train/video_06
data/SAR_RARP50/frames/train/video_07
data/SAR_RARP50/frames/train/video_08
data/SAR_RARP50/frames/train/video_09
data/SAR_RARP50/frames/train/video_10
data/SAR_RARP50/frames/train/video_11_1
data/SAR_RARP50/frames/train/video_11_2
data/SAR_RARP50/frames/train/video_12
data/SAR_RARP50/frames/train/video_13
data/SAR_RARP50/frames/train/video_14
data/SAR_RARP50/frames/train/video_15_1
data/SAR_RARP50/frames/train/video_15_2
data/SAR_RARP50/frames/train/video_16
data/SAR_RARP50/frames/train/video_17_1
data/SAR_RARP50/frames/train/video_17_2
data/SAR_RARP50/frames/train/video_18
data/SAR_RARP50/frames/train/video_19
data/SAR_RARP50/frames/train/video_20
data/SAR_RARP50/frames/train/video_21
data/SAR_RARP50/frames/train/video_22
data/SAR_RARP50/frames/train/video_23
data/SAR_RARP50/frames/train/video_24
data/SAR_RARP50/frames/train/video_25
data/SAR_RARP50/frames/train/video_26
data/SAR_RARP50/frames/train/video_27
data/SAR_RARP50/frames/train/video_28
data/SAR_RARP50/frames/train/video_29_1
data/SAR_RARP50/frames/train/video_29_2
data/SAR_RARP50/frames/train/video_30
data/SAR_RARP50/frames/train/video_31
data/SAR_RARP50/frames/train/video_32
data/SAR_RARP50/frames/train/video_33
data/SAR_RARP50/frames/train/video_34
data/SAR_RARP50/frames/train/video_35
data/SAR_RARP50/frames/train/video_36
data/SAR_RARP50/frames/train/video_37
data/SAR_RARP50/frames/train/video_38
data/SAR_RARP50/frames/train/video_39
data/SAR_RARP50/frames/train/video_40
