# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
.idea
# weights
extractor.pth
# wandb
wandb/
# output    
output/
# data
data/JIGSAWS/Suturing/
data/VTS/VTS_dataset/
# DGX
*.sqsh